{% load static %}


<!doctype html>



<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Bootstrap demo</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'css/style.css' %}">


</head>

<body>


<div class="d-flex justify-content-center mt-5">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="{{ employees.photo.url }}" alt="Card image cap">
      <div class="card-body">
        <p class="card-text mt-0 mb-0">
          {{employees.first_name}}{{employees.last_name}}
        </p>
        <p class="card-text  mb-0">
          {{employees.designation}}
        </p>

           <p class="card-text mt-0">
          {{employees.number}}
        </p>
        
      </div>
    </div>

  <!-- reffering a url for redirecting in django -->
<a href="{% url 'home' %}" class="btn btn-info" role="button">Link Button</a>
    
</div>

        





  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
    crossorigin="anonymous"></script>

    
        
     
</body>

</html>